DEBUG=True
SECRET_KEY=MINHA_CHAVE
ALLOWED_HOSTS=localhost, 127.0.0.1,

#Configuração AWS
AWS_ACCESS_KEY_ID =AKIATCPIFUWHAC2FMDHY
AWS_SECRET_ACCESS_KEY =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
AWS_STORAGE_BUCKET_NAME =cursodjangofb